.CabeceraPrincipal {
  width: 100%;
}
.CabeceraPrincipal ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.CabeceraPrincipal nav ul .active {
  color: black;
  font-weight: bold;
}